# Deprecating registry.yarnpkg.com
# Issue: https://github.com/yarnpkg/yarn/issues/5891
--registry "https://nexus3.hudsonmx.net/repository/bsmx-npm-private/"
--scripts-prepend-node-path true
--ignore-engines true
